.about {
    margin: 0%;
    width: 100%;
    
  
    &__dropdowns {
      width: 100%;
      text-align: auto;
      margin-left: 12%;
      margin-right: auto;
      
    }
 
&__dropdowns {
    width: 150%;
   
  
}
 }
