.banner {
 width: 100%;
 text-align: center;
 padding-bottom: 50px;
 font-family: "Helvetica Neue", sans-serif;
 height: 200px;



  &__text {
    position: relative;
    bottom: 180px;
    right: 0px;
    font-size: 40px;
    font-weight: 500;
    
    color: white;
    box-sizing: inherit;
    
  
  }

  &__img {
    position: relative;
    width: 76%;
    border-radius: 10px;
    filter: brightness(70%);
}
}

