.footer {
    background-color: black;
    text-align: center;
   
    font-family: "Helvetica Neue", sans-serif;
    padding-top: 2%;
    padding-bottom: 2%;

    &__text {
        text-align: center;
        font-size: 18px;
        color: white;
    }
}