.thumb {
 
  width: 320px;
  height: 255px;
  position: relative;
  margin-bottom: 20px;
  border-radius: 10px;
  margin: auto;
 

  overflow: hidden;
 

  &--img {
    width: inherit;
    height: inherit;
    object-fit: fill;
    border-radius: inherit;
   transform: scale(1.5);
    box-sizing: inherit;
  }

  &--title {
    position: absolute;
    bottom: 0px;
    font-size: 22px;
    font-weight: 500;
    margin: 10px 20px;
    color: white;
    box-sizing: inherit;
  }
}

.card {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    column-gap: 30px;
    row-gap: 25px;
    background: #f7f7f7;
    padding: 50px;
    border-radius: 25px;
    margin-bottom: 40px;
    width: max-content;
    margin: auto;
    width: 70%;
    font-family: "Helvetica Neue", sans-serif;

}