.singleproduct {
    font-family: "Helvetica Neue", sans-serif;
    color: #FF6060;;

       &__title {
        margin-left: 180px;
       }

       &__location {
        margin-left: 180px;
       }

       &__tags {
        display: flex;
        flex-wrap: wrap;
        padding-left: 180px;
        
        
       

      }
}