.singleproduct {
    font-family: "Helvetica Neue", sans-serif;
    color: #FF6060;
    margin-left: 5%;
    margin-right: 5%;

       &__content {
        display: flex;
        justify-content: space-between;
       }

       &__informations {
        display: block;
       }

       &__title {
        margin-left: 0px;
       }

       &__location {
        margin-left: 0px;
       }

       &__tags {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0px;
       }
        
       &__dropdowns {
        display: flex;
        justify-content: space-between;
        padding-left: 0px;
    
       }

       &__rating-and-host {
        margin-right: 0px;
       }

      
}